{
  "root": true,
  "extends": "airbnb/base",
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "func-names": 0,
    "prefer-arrow-callback": 0
  },
  "globals": {
    "_": true,
    "afterEach": true,
    "app": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "i18n": true,
    "init": true,
    "it": true
  }
}